@using WFM.Common
@using WFM.Controllers
@model WFM.Models.PagerDataModel

<script type="text/javascript">
    function changePageSize(ddl) {
        $("#pageIndex").val($(ddl).val());
    }
</script>

@if (Model.TotalRowCount <=0)
{
    @Html.Raw("<div style='visibility:hidden'>")
}
else
{
    @Html.Raw("<div style='margin-bottom: 2px;'>")
}
<span class="paged">総件数：@Model.TotalRowCount &nbsp;件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="先頭頁" name="firstPage" @if (Model.CurrentPageIndex <= 1)
                                                        { @Html.Raw("disabled='disabled'")} />
    <input type="submit" value="前頁" name="prePage" @if (Model.CurrentPageIndex <= 1)
                                                    { @Html.Raw("disabled='disabled'")} />
    Page @Html.DropDownList("ddlPage", (List<SelectListItem>)ViewData[BaseController.const_PageList], new { onchange = @"changePageSize(this);$(pageChanged).click();" }) of
    @Model.TotalPageCount
    <input type="submit" name="pageChanged" style="display: none" />
    <input type="Hidden" value="@Model.CurrentPageIndex" id="pageIndex" name="pageIndex" />
    <input type="Hidden" value="@Model.TotalPageCount" id="pageTotal" name="pageTotal" />
    <input type="submit" value="次頁" name="nextPage" @if (@Model.CurrentPageIndex ==Model.TotalPageCount)
                                                    { @Html.Raw("disabled='disabled'")}/>
    <input type="submit" value="最終頁" name="lastPage" @if (@Model.CurrentPageIndex == Model.TotalPageCount)
                                                        { @Html.Raw("disabled='disabled'")}/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ページ毎の結果：@Html.DropDownList("ddlPageSize", (List<SelectListItem>)ViewData[BaseController.const_PageSizeList], new { onchange = @"$(pageSizeChanged).click();" })
    <input type="submit" name="pageSizeChanged" style="display: none" />
</span>

@Html.Raw("</div>")