@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("DatePickerScript")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtStart').datepicker(opt_datePicker);
        $('#dtEnd').datepicker(opt_datePicker);
    });
</script>
<section class="content-header">
    <h1>
        オペレータ配置
        <small>スケジュール変更</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Content("~/")"><i class="fa fa-home"></i>ホーム</a></li>
        <li class="active"><a href="@Url.Content("~/agent/shiftAgen")">エジェートスケジュール情報</a></li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <input type="hidden" name="vAgentID" value="@ViewBag.vAgentID" />
        <div class="row">
            <div class="col-md-9" style="margin-left:15px;">
                <div class="box box-primary" style="width:950px;">
                    <div class="box-header">
                        <i class="fa fa-search"></i>
                        <h3 class="box-title">エジェートスケジュール変更</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-xs" data-widget="collapse" type="button"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block;">
                        <table class="table table-bordered">
                            <tr><th style="width: 100px;vertical-align: middle;" class="thUpTitle">エジェート</th><td style="vertical-align:middle;">@ViewBag.vAgentID  @ViewBag.vAgentName</td></tr>
                            <tr>
                                <th style="width: 100px;vertical-align: middle;" class="thUpTitle">
                                    日付期間
                                </th>
                                <td style="vertical-align:middle;">
                                    @Html.TextBox("dtStart", null, new { maxLength = "10", @readonly = "readonly", style = "width:110px;readonly;margin-right:5px;", @class = "form-control" })
                                    ～
                                    @Html.TextBox("dtEnd", null, new { maxLength = "10", @readonly = "readonly", style = "width:110px;readonly;margin-right:5px;", @class = "form-control" })
                                </td>


                            </tr>
                            <tr>
                                <th style="width: 100px;vertical-align: middle;" class="thUpTitle">
                                    シフト
                                </th>
                                <td>
                                    @Html.DropDownList("ddlShift", (List<SelectListItem>)ViewData["lstShift"], new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 100px;vertical-align: middle;" class="thUpTitle"></th>
                                <td style="text-align:center"><input type="submit" value="保全" class="btn btn-default" />
                                @Html.ActionLink("戻る", "index", null, new { @class="btn btn-default btn-lg active",role="button" })</td>
                            </tr>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    }
</section>
